<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <variable name="brief" value="${longdate} | ${level} | ${logger} | ${message} | ${exception:format=ToString,StackTrace}"/>
  <variable name="verbose" value="${longdate} | ${machinename} | ${processid} | ${processname} | ${level} | ${logger} | ${message} | ${exception:format=ToString,StackTrace}"/>

  <targets>
    <target name="console" xsi:type="ColoredConsole"
		 layout="${brief}" />
    <target name="file" xsi:type="File"
			fileName="C:/LogFiles/SsisDashboard.txt"
			archiveFileName="C:/LogFiles/SsisDashboard.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2"
			layout="${brief}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="console,file" />
  </rules>
</nlog>