    <div id="executablesWrapper">
        <div class="table-responsive">
            <table id="executables" class="table table-striped table-bordered table-hover">
                <thead class="bg-info">
                    <tr>
                        <th>ID</th>
                        <th>Package Name</th>
                        <th>Name</th>
                        <th>Start Time</th>
                        <th>Stop Time</th>
                        <th>Duration (Min)</th>
                        <th class="cell-small text-center">Execution Result</th>
                        <th class="cell-small text-center">Execution Value</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
