        <div class="table-responsive">
            <table id="executions" class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Project</th>
                        <th>Package</th>
                        <th>Status</th>
                        <th>Execution Date</th>
                        <th>Start Time</th>
                        <th>Stop Time</th>
                        <th class="cell-small text-center">Elapsed (Min)</th>
                        <th class="cell-small text-center">Tasks</th>
                        <th class="cell-small text-center">Warnings</th>
                        <th class="cell-small text-center">Errors</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>