@{var panelClass = new string[] { "info", "info", "info", "info", "info", "info", "danger", "warning", "success" };
    int counter = 0;}

<div class="row" id="KPI">
    <div class="col-lg-12">
        <div class="col-lg-1">
            <div>Update In</div>
        </div>       
        <div class="col-lg-1">
            <select id="updateFequency">
                <option value="0">Never</option>
                <option value="1">1 Second</option>
                <option value="5">5 Seconds</option>
                <option value="10">10 Seconds</option>
                <option value="30">30 Seconds</option>
                <option value="60">1 Minutes</option>
                <option value="300">5 Minutes</option>
                <option value="6000">10 Minutes</option>
                <option value="1200">20 Minutes</option>
                <option value="1800">30 Minutes</option>
            </select>
        </div>       
        <div class="col-lg-1">
            <button id="updateKPI" class="btn-sm">
                <span class="glyphicon glyphicon-refresh"></span>
            </button>
        </div>
        <div class="col-lgs-4">
            <div id="lastUpdated"></div>
        </div>
    </div>
</div>
<br />

<div class="row">
    <div class="col-lg-12">
        @foreach (string status in ("All,Executed,Running,Canceled,Pending,Stopping,Failed,Halted,Succeeded").Split(','))
        {
            <div class="col-lg-1">
                <div class="statusPanel panel panel-@panelClass[counter]" data-status='@status'>
                    <div class="panel-heading">
                        <div>@status</div>
                    </div>
                    <div class="panel-body">
                        <div id='@status.ToLower()' class="statusCount huge">0</div>
                    </div>
                </div>
            </div>
            counter++;
        }
    </div>
</div>