    <div id="messagesWrapper">
        <div class="table-responsive">
            <table id="messages" class="table table-striped table-bordered table-hover" style="max-width:95%">
                <thead>
                    <tr id="messageHeader">
                        <th>Id</th>
                        <th >Message</th>
                        <th>Time</th>
                        <th>Source</th>
                        <th>Component</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
